<%include partials/header%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <a class="btn btn-primary" href="/index/chat">Chat</a>
    <br><br>
    <a href="/new2">New bot V2</a>
    <h5>Display Available Interactions</h5>
    <%chat.forEach(function(chat, n){%>
      <a style="display: block" href="/index/<%=chat._id%>">Chat <%=n%></a>
      <%});%>
  </body>
</html>
<%include partials/footer%>