<%include partials/header%>

<h1>Hello world</h1>


<%for (let chatNum = 0; chatNum < chat.length; chat++){%>
    <%for (let botText = 0; botText < chat[chatNum].talk.length; botText++){%>
        <!-- Bot  -->
        <h3>Bot</h3>
        <p><%=chat[chatNum].talk[botText]%></p>
        <!-- Student Choices-->
        <%for (let studentResponse = 0; studentResponse < chat[chatNum].student.decision.length; studentResponse++){%>
            <p> <strong>Choices</strong> </p>
            <%for(var botResponse = 0; botResponse < chat[chatNum].student.decision[studentResponse].length; botResponse++ ){%>
            <!-- Student Choices-->
            <p><%=chat[chatNum].student.decision[studentResponse][botResponse]%></p>
                <%for(var studentAnswer = 0; studentAnswer < 1; studentAnswer++){ %>
                    <%for(var chatResponse = 0; chatResponse <= chat[chatNum].student.answer[chatNum][botResponse].length; chatResponse++){%>
                        <p><%=chat[chatNum].student.answer[studentResponse][botResponse][chatResponse]%></p>
                    <%}%>
                <%}%>
            <%}%>
        <%}%>
    <%}%>
<%}%>



<%include partials/footer%>