<%include partials/header%>
<script src="/javascripts/bot.js"></script>

<h3>This is the new route</h3>

<!-- This form correctly updates 3 bot-user interactions -->
<div class="container">
    <form action="/create/new" method="POST">
        <h5>Bot Talks1</h5>
        <input style="display: block" type="text" value="Hi"        name="bot[talk][0]">
        <input style="display: block" type="text" value="How u is?" name="bot[talk][0]">
        
        <br>
        <h5>Student Button 1</h5>
        <input style="display: block" type="text" value="Good1"      name="bot[student][decision][0]">
        <input style="display: block" type="text" value="Answer1"   name="bot[student][answer][0][0]">
        <input style="display: block" type="text" value="Answer2"   name="bot[student][answer][0][0]">
        
        <input style="display: block" type="text" value="Bad"       name="bot[student][decision][0]">
        <input style="display: block" type="text" value="Response1" name="bot[student][answer][0][1]">
        <input style="display: block" type="text" value="Response1" name="bot[student][answer][0][1]">
        <input style="display: block" type="text" value="Response1" name="bot[student][answer][0][1]">
        
        
        <h5>Bot Talks2</h5>
        <input style="display: block" type="text" value="Hi"        name="bot[talk][1]">
        <input style="display: block" type="text" value="How u is?" name="bot[talk][1]">
        
        <h5>Student Button 2</h5>
        <input style="display: block" type="text" value="Good2"     name="bot[student][decision][1]">
        <input style="display: block" type="text" value="Answer2"   name="bot[student][answer][1][0]">
        <input style="display: block" type="text" value="Answer2"   name="bot[student][answer][1][0]">

        <input style="display: block" type="text" value="Bad2"       name="bot[student][decision][1]">
        <input style="display: block" type="text" value="Response2" name="bot[student][answer][1][1]">
        <input style="display: block" type="text" value="Response2" name="bot[student][answer][1][1]">
        <input style="display: block" type="text" value="Response2" name="bot[student][answer][1][1]">
        
        <h5>Bot Talks3</h5>
        <input style="display: block" type="text" value="Hi333"        name="bot[talk][2]">
        <input style="display: block" type="text" value="How u is?333" name="bot[talk][2]">
        
        <h5>Student Button 3</h5>
        <input style="display: block" type="text" value="Good2333"     name="bot[student][decision][2]">
        <input style="display: block" type="text" value="Answer2333"   name="bot[student][answer][2][0]">
        <input style="display: block" type="text" value="Answer2333"   name="bot[student][answer][2][0]">

        <input style="display: block" type="text" value="Bad2333"       name="bot[student][decision][2]">
        <input style="display: block" type="text" value="Response2333" name="bot[student][answer][2][1]">
        <input style="display: block" type="text" value="Response2333" name="bot[student][answer][2][1]">
        <input style="display: block" type="text" value="Response2333" name="bot[student][answer][2][1]">
        <br>
        

        <br>

        <button type="submit">Submit</button>
    </form>
</div>


<%include partials/footer%>