<%include partials/header%>
<script src="/javascripts/bot.js"></script>

<h3>This is the new route</h3>

<!-- This form correctly updates 3 bot-user interactions -->
<div class="container">
    <form action="/create/new" method="POST">

        <div class="botForm">
            <div class="botText">
                <h5>Bot Talks1</h5>
                <input style="display: block" type="text" value="Bot conversation" name="bot[talk][0]">
                <button type="button" onclick="addBotText(this)">Bot Text +</button>
            </div>

            <br>

            <div class="userForm">
                <h5>Student Button 1</h5>
                <input style="display: block" type="text" value="Good1" name="bot[student][decision][0]">
                <input style="display: block" type="text" value="Good Answer1" name="bot[student][answer][0][0]">
                <button type="button">Bot Answer +</button>
            
            </div>
            <br>
        </div>
        
        <button type="button" onclick="addBotForm()">Bot Form +</button>
        <br><br>
        <button type="submit">Submit</button>

    </form>
</div>


<%include partials/footer%>