.botForm {
    margin: 10px;
    box-shadow:2px 2px 11px 1px lightgrey;
    padding: 10px
  }
  

.botTalks {
    display: block;
    box-shadow: -1px -1px 5px 0.5px grey;
    margin: 10px;
    padding: 10px;
}

.botAnswers{
    display: block;
    
    box-shadow: -1px -1px 5px 0px grey;
    margin: 10px;
}

.form-control{
    max-width: 50%;
}

.student-input{
    margin-left: auto;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 60%;
    display: flex;
}

.student{
    display:inline;
    background-color: lightblue;
    margin: 10px;
    margin-left: auto;
}

.student input{
    background-color: lightblue;
    margin-left: auto;
    margin-right: 0px
}

.student p{
    margin-left: auto;
    margin-right: 0px;
}
.userForm input{
    margin-left: auto;
    margin-right: 0px;
}


.student-img{
    margin-left: auto;
    margin-right: 0px;
}

.student-button{
    position: absolute;
    right: 0;
}

.addedText{
    margin-left: auto;
    margin-right: 0px;
}
