body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.botForm{
  border-style: dotted;
  margin: 10px
}


.userForm{
  margin: 10px;
}

.interaction{
  margin: 10px;
  box-shadow:10px 10px 20px 2px grey;
  padding: 15px
}

.choice{
  margin-left:auto; margin-right:0;
}

button{
  display: inline;
  margin: 5px;
}

