body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.container{
  overflow: auto;
  max-height: 60vh;
}



.userForm {
  margin: 10px;
}

.interaction {
  margin: 10px;
  /* box-shadow: 5px 5px 20px 2px grey; */
  padding: 0;
}

.choice {
  margin-left: auto;
  margin-right: 0;
}

button {
  display: inline-flex;
}


.botText {
  background-color: rgb(0, 123, 255);
  position: relative;
  border-radius: 20px;
  padding: 10px;
  color: white;
  animation-name: botTextAnimation;
  animation-duration: 0.3s;
}


.botTextAnswer {
  background-color: rgb(0, 123, 255);
  position: relative;
  border-radius: 20px;
  padding: 10px;
  color: white;
  
  animation-name: botTextAnimation;
  animation-duration: 0.3;
}

@keyframes botTextAnimation {
  0% {
    background-color: rgb(0, 123, 255);
    left: -200px;
    top: 0px;
    display: "none"
  }

  100% {
    background-color: rgb(0, 123, 255);
    left: 0px;
    top: 0px;
  }
}



.interaction {
  max-width: 500px;
}
