body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.botForm{
  border-style: dotted;
  margin: 10px
}


.userForm{
  margin: 10px;
}

.interaction{
  margin: 10px;
  box-shadow:10px 10px 20px 2px grey;
  padding: 15px
}

.choice{
  margin-left:auto; margin-right:0;
}

button{
  display: inline-flex;interactions[interactionNumber].style.display = "block";
  button.disabled = true;
}



.botText{
  background-color: rgb(0, 123, 255);
  position: relative;
  border-radius: 20px;
  padding: 10px;
  color: white;
  
  animation-name: example;
  animation-duration: 0.3s;

}

@keyframes example {
    0%   {background-color:rgb(0, 123, 255); left:-200px; top:0px; display: "none"}
    100%  {background-color:rgb(0, 123, 255); left:0px; top:0px;}
}
/* 
.answer{
  background-color: rgb(0, 123, 255);
  position: relative;
  border-radius: 20px;
  padding: 10px;
  color: white;
  
  animation-name: answer;
  animation-duration: 1s;
  

} */

/* @keyframes answer {
  0%   {background-color:transparent; left:-200px; top:0px;}
  100%  {background-color:rgb(0, 123, 255); left:0px; top:0px;}
} */

.interaction{
  max-width: 500px;
}